
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Raleway', sans-serif;
  color: #333;

  padding: 0;
  margin:0;

}

p {
  margin-left:4%;
  margin-right: 4%;
  line-height: 1.5em;
}

h2, h3 {
  margin-left:4%;
  margin-right:4%;
  text-align: center;
}

ul li {
  list-style: none;

}

ul a {
  text-decoration: none;
}

.main-nav a {
  color: #333;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.flex {
  text-align: center;
}


.main-header,
.main-nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 1;
}


.main-header .logo {
  align-self: center;
  width: 25%;
  margin-left: 4%;
  margin-top: 3%;
  margin-bottom: 80px;
}

.main-nav {
  width: 48%;
  margin-right: 4%;

}

.picture-container {
  margin-bottom: 70px;
}
.picture-container .picture {
  width: 70%;
}

.btn {
  background-color: #2f65f9;
  border: none;
  color: white;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 102px;
  margin-bottom: 75px;
}

.signup {
  text-align: center;
}

.bg-curve {
  text-align: center;
  margin-bottom: -1%;
}

.wave1 {
  width:100%;
}

.wave2 {
  display:none;
}


#curve-mobile {
  width: 100%;
}

.team{
  background-color: #f9f8fe;
}

.middle-container {
  background-color: #f9f8fe;
  padding-bottom: 10%;

}

.testimonial {
  position: relative;
  width:60%;
  height: 35%;
  font-size: 0.8em;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px #DCDCDC;
  text-align: left;
  padding: 5%;
  margin-top: 15%;
}

#email {
  display: block;
  margin: auto;
  color: grey;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 50px;
  padding-left: 10px;
}

.signature {
  position: relative;
  margin-bottom: 0;
  font-weight: bold;
  left: 47px;
  margin-top: 14px;
}

.signature2 {
  position: relative;
  margin-top: 5px;
  font-size: 0.6em;
  left: 47px;
}

.statement {
  line-height: 1.7em;
  font-weight:400;
  color: black;
  margin-top: 4px;
}

.testimonial-picture {
  position: absolute;
  display:inline-block;
  border-radius: 50%;
  width: 35px;
}

.how-works {
  position: relative;
  text-decoration: none;
  color: #33CC00;
  padding-bottom: 6px;
  border-bottom: 1px solid #33CC00;
  text-align: center;

}

.arrow {
  position: absolute;
  width:20px;
}

.paragraph {
  text-align: left;
  margin-left: 4%;
  margin-right: 4%;
}

.par2 {
  margin-bottom: 10%;
}

.cta-container {
  background-color: #575989;
  color: white;
}

.footer-container {
    position: relative;
    background-color: #07043b;
    color: white;

}

.footer-container .logo-bottom {
  position: absolute;
  margin-top: 7%;
  left: 35px;
}

.bottom-ul {
  text-align: left;
  line-height: 2em;
}

.ul {
  margin-top: 150px;
}

.contact-icon {
  margin-right: 25px;
}

@media (min-width: 768px) {

    .wrapper {

    }


  .flex-container {
    display: flex;
    flex-direction:  row;
    max-width: 1440px;
    min-width: 769px;
    flex-wrap: wrap;
    margin: auto;

  }

  .flex {
    width: 100%;
  }

  .wave1 {
    display:none;
  }

  .wave2 {
    display:block;
  }

  .picture-container,
  .top-container,
  .middle-container {
    width: 50%;
    align-self: space-between;
  }
  .picture-container {
    background-image: none;
    margin-bottom: 0;
  }

  .team,
  .middle-container {
    background-color:#f9f8fe;
  }
}
