
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Raleway', sans-serif;
  color: #333;

  padding: 0;
  margin:0;

}

ul li {
  list-style: none;

}

ul a {
  text-decoration: none;
}

.main-nav a {
  color: #333;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.flex {
  text-align: center;
}

.main-header,
.main-nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 1;
}


.main-header .logo {
  align-self: center;
  width: 25%;
  margin-left: 4%;
}

.main-nav {
  width: 48%;
  margin-right: 4%;
}

.picture-container .picture {
  width: 70%;
}

.btn {
  background-color: #2f65f9;
  border: none;
  color: white;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 79px;
  margin-bottom: 150px;
}

.signup {
  text-align: center;
}


.bg-curve {
  text-align: center;
  margin-bottom: -1%;
}

#curve-mobile {
  width: 100%;
  fill: blue;
}

.team{
  background-color: #f9f8fe;
  position: relative;

}

#email {
  display: block;
  margin: auto;
  color: grey;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 50px;
  padding-left: 10px;
}
