
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Raleway', sans-serif;
  color: #333;

  padding: 0;
  margin:0;

}

p {
  margin-left:4%;
  margin-right: 4%;
  line-height: 1.5em;
}

h2, h3 {
  margin-left:4%;
  margin-right:4%;
  text-align: center;
}

ul li {
  list-style: none;

}

ul a {
  text-decoration: none;
}

.main-nav a {
  color: #333;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.flex {
  text-align: center;
}


.main-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 1;
}

.main-nav {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}


.main-header .logo {
  align-self: center;
  width: 25%;
  margin-left: 4%;
  margin-top: 3%;
  margin-bottom: 80px;
}

.main-nav {
  width: 48%;
  margin-right: 4%;

}

.picture-container {
  margin-bottom: 70px;
}
.picture-container .picture {
  width: 70%;
}

.btn {
  background-color: #2f65f9;
  border: none;
  color: white;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 102px;
  margin-bottom: 75px;
}

.signup {
  text-align: center;
}

.bg-curve {
  text-align: center;
  margin-bottom: -1%;
}

.wave1 {
  width:100%;
}

#curve-mobile {
  width: 100%;
}

.team{
  background-color: #f9f8fe;
}

.middle-container {
  background-color: #f9f8fe;
  padding-bottom: 10%;

}

.testimonial {
  position: relative;
  width:60%;
  height: 35%;
  font-size: 0.8em;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px #DCDCDC;
  text-align: left;
  padding: 5%;
  margin-top: 15%;
}

#email {
  display: block;
  margin: auto;
  color: grey;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 50px;
  padding-left: 10px;
}

.signature {
  position: relative;
  margin-bottom: 0;
  font-weight: bold;
  left: 47px;
  margin-top: 14px;
}

.signature2 {
  position: relative;
  margin-top: 5px;
  font-size: 0.6em;
  left: 47px;
}

.statement {
  line-height: 1.7em;
  font-weight:400;
  color: black;
  margin-top: 4px;
}

.testimonial-picture {
  position: absolute;
  display:inline-block;
  border-radius: 50%;
  width: 35px;
}

.how-works {
  position: relative;
  text-decoration: none;
  color: #33CC00;
  padding-bottom: 6px;
  border-bottom: 1px solid #33CC00;
  text-align: center;

}

.arrow {
  position: absolute;
  width:20px;
}

.paragraph {
  text-align: left;
  margin-left: 4%;
  margin-right: 4%;
}

.par2 {
  margin-bottom: 10%;
}

.cta-container {
  background-color: #575989;
  color: white;
}

.footer-container {
    position: relative;
    background-color: #07043b;
    color: white;

}

.footer-container .logo-bottom {
  position: absolute;
  margin-top: 7%;
  left: 35px;
}

.bottom-ul {
  text-align: left;
  line-height: 2em;
}

.ul {
  margin-top: 150px;
}

.contact-icon {
  margin-right: 25px;
}

@media (min-width: 768px) {

  .flex-container .main-header {order:0;}
  .flex-container .top-container {order:1;}
  .flex-container .picture1 {order:2;}
  .flex-container .bg-curve{order:3;}
  .flex-container .middle-container{order:4;}
  .flex-container .team{order:5;}
  .flex-container .cta-container{order:6;}
  .flex-container .footer-container {order:7;}

  h2,h3,p {
    text-align: left;
  }

  .main-nav {
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
  }

  .main-nav li {
    margin-right: 10%;
    align-self: center;
  }

  .main-header {
    margin-bottom: 3%;
  }

  .main-header .logo {
    width: 10%;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
  }

  .flex-container {
    display: flex;
    flex-direction:  row;
    max-width: 1440px;
    min-width: 769px;
    flex-wrap: wrap;
    margin: auto;

  }

  .flex {
    width: 100%;
  }

  .wave1 {
    display:none;
  }

  .picture-container,
  .top-container,
  .middle-container,
  .team {
    width: 50%;

  }
  .picture-container {
    background-image: none;
    margin-bottom: 0;
  }

  .bg-curve:after {
    content: url("../images/bg-curve-desktop.svg");
  }

  .team{
    padding-top: 100px;
  }

  .picture-container .picture2 {
    width: 90%;
  }

  .team,
  .middle-container {
    background-color:#f9f8fe;
  }

  .middle-container {
    padding-bottom: 4%;
  }

  #email {
    margin-left: 4%;

  }
  .btn{
    display: block;
    margin-left: 4%;
  }

  .how-works {
    left:-35%;
  }

  .testimonial {
    left: -21%;
    top:-8%;
    width: 40%;
    height: 30%
  }


  .cta-container {
    display:flex;
    position: relative;
    flex-direction:row;
    flex-wrap:wrap;

  }

  .cta-container h2, p, .signup {
    flex-grow: 1;

}
  .cta-container h2 {
    max-width: 100%;
    width:100%;
    padding-top:3%;
  }

  .cta-container p {
    max-width:30%;
    margin-bottom: 5%;
  }

  .signup2 {
    position: absolute;
    left:60%;
    top:6%;
  }

  .signup2 .btn {
    padding: 15px 35px;
    font-size: 0.9em;

  }

  .signup2 #email {
    width: 400px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-container,
  .bottom-ul,
  .logo {
    flex-grow: 1;
  }

  .footer-container .logo-bottom {
    margin-top: 3%;
  }

  .ul,
  .bottom-ul {
    margin-top: 9%;
  }
}
